// colors

$accentColor = #1980a9
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #1980a9
$arrowBgColor = #ccc
$badgeTipColor = #29a9d4
$badgeWarningColor = #d6c053
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px